$small_sidebar:740px;
$no_sidebar:610px;

#contentpane {
    position:absolute;
    top:124px;
    left:0;
    right: 340px;
    height:auto;
    margin-bottom:20px;
    @media all and (max-width:$small_sidebar) {
        right: 240px;
    }
    @media all and (max-width:$full_width) {
        top:74px;
    }
    @media all and (max-width:$no_sidebar) {
        position:static;
    }
}

#sidebar {
    width:300px;
    margin:20px;
    float:right;
    @media all and (max-width:$small_sidebar) {
        width: 200px;
    }
    @media all and (max-width:$no_sidebar) {
        position:static;
        width:auto;
        float:none;
    }
}

.card {
    border-radius:4px;
    padding:20px;
    background-color:#FFF;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    display:inline-block;
    width: 300px;
    margin:20px 0 0 20px;
    opacity:0.6;

    &.in {
        opacity:1;
    }

    h2 {
        font-size:25px;
        margin: 0 0 10px 0;
        font-size:25px;
    }

    h3 {
        font-size:25px;
        font-weight:normal;
        text-align:center;
        margin: 5px 0 0 0;
        font-size:25px;
    }

    @media all and (max-width:$no-sidebar) {
        width:auto;
        display:block;
        margin:20px 20px 0 20px;
    }

}
#trello-board{
  width:100%;
  height:40vh;
}
#trello-iframe{
  width:100%;
  height:100%;
}
.card:hover{
  background-color:$color_newsitem_highlighted;
}

.column {
    display:inline-block;
    vertical-align:middle;

    & + .column {
        margin-left:40px;
        @media all and (max-width:$no_sidebar) {
            margin-left: 0;
        }
    }

    @media all and (max-width:$no_sidebar) {
        display:block;
        margin: 20px 0 0 0;
        text-align:center;
    }
}


.icon {
    width:120px;
    height:120px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
    background-image:url(../images/shitty-yuchen.png);
    @media all and (max-width: $no_sidebar) {
        margin: 0 auto;
    }
}


/* Vote maker */
.widget {
    background-color:#FFF;
    padding:20px;
    margin-bottom:20px;
    border-radius:4px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.line {
    line-height: 40px;
}

.line + .line {
    margin-top:10px;
}

/* News Styling */

.newsimage{
  display:table-cell;
  vertical-align:middle;
  height:100px;
  width: 100px;
}

.newsimagewrapper{
  float:left;
  width:30%;
  padding:10px;
}

.newsparagraphwrapper{
  float:right;
  width:60%;
}

.card a{
  text-decoration:none;
  color:$color_link_color;
}

