#users {
    position:absolute;
    top:124px;
    left:0;
    right: 340px;
}

#sidebar {
    width:300px;
    margin:20px;
    float:right;
}

.user {
    border-radius:4px;
    padding:20px;
    background-color:#FFF;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    display:inline-block;
    width: 300px;
    margin:20px 0 0 20px;
    opacity:0.6;
}
.user.in {
    opacity:1;
}

.user h2, .user h3 {
    font-size:25px;
}

.user h2 {
    margin: 0 0 10px 0;
    font-size:25px;
}

.user h3 {
    font-weight:normal;
    text-align:center;
    margin: 5px 0 0 0;
    font-size:25px;
}

.column {
    display:inline-block;
    vertical-align:middle;
}

.column + .column {
    margin-left:40px;
}


.icon {
    width:120px;
    height:120px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
    background-image:url(../images/shitty-yuchen.png);
}


/* Vote maker */
.widget {
    background-color:#FFF;
    padding:20px;
    margin-bottom:20px;
    border-radius:4px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.line {
    line-height: 40px;
}

.line + .line {
    margin-top:10px;
}

/* News Styling */
#newslist{
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
}
#news{
  position:absolute;
  right:300px;
  width:auto;
  height:auto;
  float:left;
}
.newselement{
  background-color: #FFF;
  width:300px;
  margin:10px;
  font-size:2em;
  border-radius:5%;
  padding:10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.newselement:hover{
  background-color:#FEF;
}

@media all and (max-width:740px) {
    #users {
        position:static;
    }
    #sidebar {
        position:static;
        width:auto;
        float:none;
    }
}

@media all and (max-width: 420px) {
    .user {
        width:auto;
        display:block;
        margin:20px 20px 0 20px;
    }
    .column, .column + .column {
        display:block;
        margin: 20px 0 0 0;
        text-align:center;
    }
    .icon {
        margin: 0 auto;
    }
}
