.song_list {
    margin: 10px auto 40px auto;
}

.song {
    padding: 20px;
    min-height: 75px;
    border-bottom:1px solid $color_container_secondary;
    @media all and (max-width:$full_width) {
        padding: 20px 0;
    }

    &:last-of-type {
        border-bottom:0;
    }

    &.current {
        background-color: $color_container_secondary;
        border:0;
        @media all and (max-width:$full_width) {
            background-color:transparent;
        }
    }

    img {
        display:block;
        margin: 0 40px 0 0;
        width: 75px;
        height:75px;

        @media all and (max-width: $full_width) {
            margin-right: 20px;
        }
    }

    .info {
        display:block;
        margin-left:115px;
        margin-top:-75px;
        @media all and (max-width: $full_width) {
            margin-left: 95px;
        }
    }

    h4 {
        margin: 5px 0;
    }
    h5 {
        margin: 2px 0;
        font-weight:normal;
    }
    h6 {
        margin: 2px 0;
        font-weight:normal;
        font-style:italic;
    }
}
