<!DOCTYPE html>
<html>
    <head>
        <title>Pluto - {{title}}</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/app.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript" src="/javascripts/helpers.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <h1>{{title}}</h1>
                <a href="/">
                    <img src="/images/pluto-small.png" id="logo">
                </a>
            </div>
        </div>
        <div class='container'>
            {{{body}}}
        </div>
    </body>
</html>
