<html>
    <head>
        <title>Pluto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper">
                <h1>Pluto</h1>
                <a href="/">
                    <img src="/images/pluto-small.png" id="logo">
                </a>
            </div>
        </div>

        <div id="users">
            {{#each users}}
            <div class="user{{#in}} in{{/in}}">
                <div class="column">
                    <div class="icon" {{#image}}style="background-image:url(../uploads/{{{.}}})"{{/image}}></div>
                    <h3>{{#points}}{{.}}{{/points}}{{^points}}0{{/points}} &#9731;</h3>
                </div>
                <div class="column info">
                    <h2>{{name}}</h2>
                    <p>{{#in}}In{{/in}}{{^in}}Out of{{/in}} the house</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="news">
            <ul id = "newslist">
                {{#each news}}
                <li class="newselement">
                    {{title}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div id="sidebar">
            <!--<div class="hal">
                <div class="light">
                    <div class="reflection left"></div>
                    <div class="reflection center"></div>
                    <div class="reflection right"></div>
                </div>
            </div>-->
            <div class="widget">
                <a href="/users">Manage Users</a>
            </div>
            <div class="widget">
                <a href="/music">Play Music</a>
            </div>

            <form id="vote" method="post" action="/vote/new" class="widget">
                <div class="line">
                    Give <input type="number" value="0" name="points" /> points to <input type="text" placeholder="Username" name="user" />
                </div>
                <div class="line">
                    <input type="submit" value="Start vote" />
                </div>
                <div class="line">
                    <a href="/vote">Weigh in on the current vote!</a>
                </div>
            </form>
        </div>
    </body>
</html>
