{{#if message}}
<div class="message">
    {{message}}
</div>
{{/if}}

<h2>Music Player</h2>
<div id="download_progress_container">
</div>
<div id="song_progress_container">
</div>
{{#with nowPlaying}}
<h3>Currently playing</h3>
<div class="song_list">
  <div class="song current">
    <img src="{{art}}" />
    <div class="info">
      <h4>{{name}}</h4>
      <h5>{{album}}</h5>
      <h5>{{artist}}</h5>
      {{#if choice}}
      <h6>{{choice}}'s choice</h6>
      {{/if}}
      {{ajax_button "POST" "/music/retry" "Try another link" "small"}}
      {{ajax_button "POST" "/music/reset" "Reset links" "small"}}
    </div>
  </div>
</div>
{{/with}}

<p>
  {{#if canPause}}
    {{button "POST" "/music/pause" "Pause" "primary"}}
  {{/if}}
  {{#if canPlay}}
    {{button "POST" "/music/play" "Play" "primary"}}
  {{/if}}
  {{#if canSkip}}
    {{button "POST" "/music/next" "Next" ""}}
  {{/if}}
  {{button "POST" "/music/shuffle/next" "Play random song next" ""}}
  {{button "POST" "/music/shuffle/end" "Add random song to end" ""}}
</p>
<form method="POST" action="/music/add">
  <div class="value">
    <label>Artist</label>
    <input name="artist" type="text" placeholder="Eminem" />
  </div>
  <div class="value">
    <label>Album</label>
    <input name="album" type="text" placeholder="The Marshall Mathers LP" />
  </div>
  <div class="value">
    <label>Song</label>
    <input name="song" type="text" placeholder="The Real Slim Shady" />
  </div>
  <div class="value">
    <label>Play next</label>
    <input type="radio" name="position" value="next" checked />
  </div>
  <div class="value">
    <label>Add to end</label>
    <input type="radio" name="position" value="end" />
  </div>
  <input type="submit" value="Add to Queue" />
</form>

<h3>Queue</h3>
<div class="song_list">
  {{#if queue}}
    {{#each queue}}
    <div class="song">
      <a name="song_{{index}}"></a>
      <img src="{{art}}" />
      <div class="info">
        <h4>{{index}}. {{name}}</h4>
        <h5>{{album}}</h5>
        <h5>{{artist}}</h5>
        {{#if choice}}<h6>{{choice}}'s choice</h6>{{/if}}
        <form method="POST" action="/music/queue/delete/{{index}}" class="button_container">
          <button type="submit" class="small delete">
            <i class="fa fa-remove"></i>
          </button>
        </form>

        {{#unless @first}}
        <form method="POST" action="/music/queue/move/{{index}}/up" class="button_container">
          <button type="submit" class="small">
            <i class="fa fa-chevron-up"></i>
          </button>
        </form>
        {{else}}
        {{button_disabled "<i class='fa fa-chevron-up'></i>" "small"}}
        {{/unless}}

        {{#unless @last}}
        <form method="POST" action="/music/queue/move/{{index}}/down" class="button_container">
          <button type="submit" class="small" value="Move down">
            <i class="fa fa-chevron-down"></i>
          </button>
        </form>
        {{else}}
        {{button_disabled "<i class='fa fa-chevron-down'></i>" "small"}}
        {{/unless}}
      </div>
    </div>
    {{/each}}
  {{else}}
  <h4>Nothing yet!</h4>
  {{/if}}
</div>
