<html>
    <head>
        <title>Users</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/users.css' />
    </head>
    <body>
        <div class="header">
            <h1>Manage Users</h1>
        </div>
        <div class='container'>
            <h2>Existing Users</h2>
            {{#each users}}
            <form method='post' action='/users/change' enctype="multipart/form-data">
                <input name='ip' type='hidden' value='{{ip}}' />
                <h3>{{name}}</h3>
                <div class='value'>
                    <label>IP</label>
                    <input name='newip' type='text' value='{{ip}}' />
                </div>
                <div class='value'>
                    <label>Name</label>
                    <input name='name' type='text' value='{{name}}' />
                </div>
                <div class='value'>
                    <label>Github Username</label>
                    <input name='github' type='text' value='{{github}}' />
                </div>
                <div class='value'>
                    <label>Artists</label>
                    <input name='artists' type='text' value='{{artists}}' />
                </div>
                <div class='value'>
                    <label>Delete</label>
                    <input name='delete' type='checkbox' />
                </div>
                <div class='value'>
                    <label>Profile Image</label>
                    <div class="icon" {{#image}}style="background-image:url(../uploads/{{{.}}})"{{/image}}></div>
                    <input type="file" name="image" />
                </div>
                <input type='submit' value='Change' />
                <a href="/score/{{encodedIP}}">View AwesomePoints score</a>
            </form>
            {{/each}}

            <h2>Register new user</h2>
            <form method='post' action='/users/add'>
                <div class='value'>
                    <label>Name</label>
                    <input name='name' type='text' />
                </div>
                <div class='value'>
                    <label>GitHub</label>
                    <input name='github' type='text' />
                </div>
                <div class='value'>
                    <label>Artists</label>
                    <input name='artists' type='text' />
                </div>


                <input type='submit' value='Add' />
            </form>
        </div>
    </body>
</html>
