{{#if message}}
<div class="message">
    {{message}}
</div>
{{/if}}

{{#if listening}}
<div class="message">
    <span>We are waiting for {{listening.name}} to badge in to register a new id.</span>
    {{button "POST" "/users/cancel" "Cancel" "small delete inline"}}
</div>
{{/if}}

<h2>Existing Users</h2>
{{#each users}}
<form method='post' action='/users/change' enctype="multipart/form-data">
    <input name='username' type='hidden' value='{{username}}' />
    <h3>{{name}}</h3>
    <div class='value'>
        <label>Username</label>
        <input name='newusername' type='text' value='{{username}}' />
    </div>
    <div class='value'>
        <label>IDs</label>
        <textarea name='ids'>{{ids}}</textarea>
        {{button "POST" addLink "Register another" "in_form small inline"}}
    </div>
    <div class='value'>
        <label>Name</label>
        <input name='name' type='text' value='{{name}}' />
    </div>
    <div class='value'>
        <label>Github Username</label>
        <input name='github' type='text' value='{{github}}' />
    </div>
    <div class='value'>
        <label>Artists</label>
        <textarea name='artists'>{{artists}}</textarea>
    </div>
    <div class='value'>
        <label>Delete</label>
        <input name='delete' type='checkbox' />
    </div>
    <div class='value'>
        <label>Profile Image</label>
        <div class="icon" {{#image}}style="background-image:url(../uploads/{{{.}}})"{{/image}}></div>
        <input type="file" name="image" />
    </div>
    <input type='submit' value='Change' />
</form>
{{/each}}

<h2>Register new user</h2>
<form method='post' action='/users/add' enctype="multipart/form-data">
    <div class='value'>
        <label>Username</label>
        <input name='username' type='text' />
    </div>
    <div class='value'>
        <label>Name</label>
        <input name='name' type='text' />
    </div>
    <div class='value'>
        <label>GitHub</label>
        <input name='github' type='text' />
    </div>
    <div class='value'>
        <label>Artists</label>
        <textarea name='artists'></textarea>
    </div>
    <div class='value'>
        <label>Profile Image</label>
        <div class="icon"></div>
        <input type="file" name="image" />
    </div>


    <input type='submit' value='Add' />
</form>

