@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);

body {
    margin:0;
    padding:0;
    background-color:#37474F;
    font-family: 'Roboto', sans-serif;
}

#users {
    position:absolute;
    top:0;
    left:0;
    right: 340px;
}

#sidebar {
    width:300px;
    margin:20px;
    float:right;
}

.user {
    border-radius:4px;
    padding:20px;
    background-color:#FFF;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
    display:inline-block;
    width: 300px;
    margin:20px 0 20px 20px;
    opacity:0.6;
}
.user.in {
    opacity:1;
}

.user h2, .user h3 {
    font-size:25px;
}

.user h2 {
    margin: 0 0 10px 0;
    font-size:25px;
}

.user h3 {
    font-weight:normal;
    text-align:center;
    margin: 5px 0 0 0;
    font-size:25px;
}

.column {
    display:inline-block;
    vertical-align:middle;
}

.column + .column {
    margin-left:40px;
}


.icon {
    width:120px;
    height:120px;
    border-radius:50%;
    background-size:cover;
    background-position:center;
    background-image:url(../images/shitty-yuchen.png);
}


/* Vote maker */
form {
    background-color:#FFF;
    padding:20px;
    margin-bottom:20px;
    border-radius:4px;
    box-shadow:0 4px 10px rgba(0,0,0,0.4);
}

input[type="number"] {
    width:40px;
}

.line {
    line-height: 25px;
}

.line + .line {
    margin-top:10px;
}


/* hal */ 
.hal {
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    width:300px;
    height:300px;
    background: radial-gradient(ellipse at center, #1c1c1c 58%,#9f9f9f 65%,#0e0e0e 72%);
    border-radius:50%;
    margin-bottom:20px;
    position:relative;
}
.light {
    width:86%;
    height:86%;
    position:absolute;
    left:7%;
    top:7%;
    border-radius:50%;
    background: radial-gradient(ellipse at center, #f7ae04 2%,#b20306 9%,#000000 68%);
}

.light:before {
  content: "";
  display:block;
  background: linear-gradient(to bottom, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0.05) 100%);
  position:absolute;
  top:4%;
  left:15%;
  right:15%;
  height:40%;
  border-radius:50%;
}

.reflection {
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;

    height: 0; 
    padding: 0; 
    border-top: 31px solid rgba(255,255,255,0.3); 
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    position:absolute;
    top:10%;
    width:24%;
    left:50%;
    margin-left:-12%;
    border-radius:100px;
}
.reflection:after {
    content: "";
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;

    height: 0; 
    padding: 0; 
    border-top: 13px solid rgba(255,255,255,0.2);
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    position:absolute;
    margin-top:40%;
    width:80%;
    left:50%;
    margin-left:-40%;
    border-radius:10px;
}

.reflection.left {
    left:22%;
    top:22%;
    margin-left:-10%;
    margin-right:0;
    transform: scale(1, 0.8) skew(-10deg, -16deg) rotate(-50deg);
}

.reflection.right {
    left:auto;
    right:22%;
    top:22%;
    margin-left:0;
    margin-right:-10%;
    transform: scale(1, 0.8) skew(10deg, 16deg) rotate(50deg);
}
